body{background:lightgrey;


}
.mynav .navbar-brand img{
	height:40px;
	width:67px;
}
.some{
	background:white;
	
}
.some img{
	width:100%;
	
	
}
.btn{
	margin-left:70px;
	
}
.lol{
	
	margin-bottom:19px;
	
	
}
.fan{
	height:40px;
	width:40px;
	
}
.man{
	background:white;
	
}
.love{
	background:white;
	
}
.antilover{
	
	background:white;
	
}
.solv img{
	height:80px;
	width:80px;
	
}
.new{
	background:white;
	
	
}
.fen{
	background:white;
	
	
}

.some{
	background:white;
	
	
}