body{background:lightgrey;


}
.mynav .navbar-brand img{
	height:40px;
	width:67px;
}
.love prod1{
	
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}	
/* .mynav{ */
	/* background:white; */
	/* height:50px; */
	
	
/* } */
.da{
	margin-top:70px;
	}
	
.center{
	padding-left:490px;
	
	
}	