body{
	background:lightgrey;


}
.mynav .navbar-brand img{
	height:40px;
	width:67px;
}
/* .mynav{ */
	/* background:white; */
	/* height:50px; */
	
	
/* } */
.prod{
	background-image:url(../../img/na.jpg);
	height:500px;
	padding-top:70px;
	
}
.osm{
	
	background:rgb(57,82, 131,.7);
	
	margin-left:90px;
	margin-right:90px;
	
}
.psm{
	background-image:url(../../img/ni.jpg);
	height:400px;
	padding-top:200px;
	
	
}